<div class="row">

  <div class="large-12 columns">


    <footer class="footer">

      <large>



      </large>

      <nav class="right">

        <ul class="inline-list">

          
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Mailing List", '#'%></li>

        </ul>

      </nav>

    </footer>
  </div>
</div>